<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width">
        <title>The Other Selves Working Group | A community dedicated to studying and practicing the Law of One</title>
        <meta name="robots" content="max-image-preview:large">
        <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
        <link href="https://fonts.gstatic.com/" crossorigin rel="preconnect">
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }} Feed" href="{{ 'feed.xml' | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/oswg.css' | relative_url }}">
        <link rel="icon" href="{{ '/assets/images/favicon-32x32.png' | relative_url }}" sizes="32x32">
        <link rel="icon" href="{{ '/assets/images/favicon-16x16.png' | relative_url }}" sizes="16x16">
        <link rel="icon" href="{{ '/assets/images/favicon-192x192.png' | relative_url }}" sizes="192x192">
        <link rel="apple-touch-icon" href="{{ '/assets/images/apple-touch-icon.png' | relative_url }}">
        <meta name="msapplication-TileImage" content="{{ '/assets/images/favicon-270x270.png' | relative_url }}">
    </head>

<body class="home template-front-page custom-font-enabled single-author">
<div id="page" class="hfeed site">
	<header id="masthead" class="site-header" role="banner">
		<hgroup>
			<h1 class="site-title"><a href="{{ '/' | relative_url }}" title="The Other Selves Working Group" rel="home">The Other Selves Working Group</a></h1>
			<h2 class="site-description">A community dedicated to studying and practicing the Law of One together</h2>
		</hgroup>

		<nav id="site-navigation" class="main-navigation" role="navigation">
			<button class="menu-toggle">Menu</button>
			<a class="assistive-text" href="#content" title="Skip to content">Skip to content</a>
			<div class="menu-main-container">
				<ul id="menu-main" class="nav-menu">
					<li class="menu-item"><a href="/about">About</a></li>
					<li class="menu-item"><a href="https://oswg.substack.com/">News</a></li>
					<li class="menu-item"><a href="https://www.socialmemorycomplex.earth">Resources for seekers</a></li>
				</ul>
			</div>
		</nav><!-- #site-navigation -->

	</header><!-- #masthead -->

	<div id="main" class="wrapper">

	<div id="primary" class="site-content">
		<div id="content" role="main">{{ content }}</div>
	</div><!-- #primary -->

<div id="secondary" class="widget-area" role="complementary">
		<div class="first front-widgets">
		<aside class="widget">
			<ul>
				<li><a href="https://lawofone.info/">lawofone.info</a></li>
				<li><a href="https://www.llresearch.org/channeling">L/L Research Transcript Library</a></li>
				<li><a href="https://har.center/">High Altitude Receiving Center</a></li>
				<li><a href="https://firstdistortion.press/">First Distortion Press</a></li>
				<li><a href="https://inaudible.show/"><em>inaudible</em> podcast</a></li>
				<li><a href="https://www.youtube.com/@oswg">YouTube</a></li>
				<li><a href="https://www.tiktok.com/@otherselvesworkinggroup">TikTok</a></li>
			</ul>
		</aside>	</div><!-- .first -->
	
	</div><!-- #secondary -->
	</div><!-- #main .wrapper -->
	<footer id="colophon" role="contentinfo">
		<p>&copy; 2026 Jeremy Weiland, the Other Selves Working Group, and <a href="https://socialmemorycomplex.earth">socialmemorycomplex.earth</a></p>
	</footer><!-- #colophon -->
</div><!-- #page -->
</body></html>